// Headline/Display - Rebound
// ==================================

// Headline
@font-face {
  font-family: "Just Fontime";
  src: url("../fonts/Just-Fontime.woff") format("woff"),
  url("../fonts/Just-Fontime.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}