@use "fonts";

// Font Family
$header-font: "Just-Fontime";
$body-font: Arial, sans-serif;

// Font Size (Mobile First)
$body: 14px;
$header: 32px;
$subhead: 18px;
$display: 36px;
$caption: 10px;

// Font Size (Tablet)
$m-body: 16px;
$m-header: 36px;
$m-subhead: 20px;
$m-display: 48px;
$m-caption: 12px;

// Font Size (Desktop)
$l-body: 18px;
$l-header: 40px;
$l-subhead: 24px;
$l-display: 64px;
$l-caption: 14px;

// Colors
// Primary
$black: #1B1A1A;
$white: #FFFDFB;

// Primary - Accent
$yellow: #ffd500;
$brown: rgb(77, 31, 0);

// Utility
$darkgrey: #3e3e3e;
$grey: rgb(139, 139, 139);
$lightgrey: rgb(231, 231, 231);

// Decoration
$decor-post: -1;