@use "../abstracts/variables" as v;

// Mobile Style
.prim-btn {
    background-color: rgb(255, 218, 194); 
    border: 6px solid #291100;
    border-radius: 18px;
    box-shadow:
      inset 4px 4px 0 #edac81,
      inset -4px -4px 0 #5a2603,
      4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin: 1rem;
    color: v.$brown;
}

.prim-btn:hover {
    background-color: rgb(215, 156, 116); 
    color: v.$brown;
}

