@use "../abstracts/variables" as v;

// Mobile Style
.display {
    font-family: v.$header-font;
    font-size: v.$display;
    color: v.$yellow;
    margin-bottom: 12px;
    letter-spacing: 2px;
}

.header {
    font-family: v.$header-font;
    font-size: v.$body-font;
    color: v.$white;
}

.sub-head {
    font-family: v.$body-font;
    font-size: v.$subhead;
    color: v.$white;
}

.body-text {
    font-family: v.$body-font;
    font-size: v.$body;
    font-weight: 400;
    color: v.$white;
    line-height: 14px;
}

.caption {
    font-family: v.$body-font;
    font-size: v.$caption;
    color: v.$white;
    line-height: 14px;
}

.letter-author {
    font-family: v.$header-font;
    font-size: v.$body;
    color: v.$white;
    line-height: 14px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: start;
}

.text-right {
    text-align: end;
}

// Tablet Size
@media screen and (min-width: 768px) {
    .display {
        font-family: v.$header-font;
        font-size: v.$m-display;
        color: v.$yellow;
        margin-bottom: 14px;
    }
    
    .header {
        font-family: v.$body-font;
        font-size: v.$m-header;
        color: v.$white;
    }
    
    .sub-head {
        font-family: v.$body-font;
        font-size: v.$m-subhead;
        color: v.$white;
    }
    
    .body-text {
        font-family: v.$body-font;
        font-size: v.$m-body;
        color: v.$white;
        line-height: 18px;
    }

    .caption {
        font-family: v.$body-font;
        font-size: v.$m-caption;
        color: v.$white;
        line-height: 14px;
    }
}

// Desktop Size
@media screen and (min-width: 1200px) {
    .display {
        font-family: v.$header-font;
        font-size: v.$l-display;
        color: v.$yellow;
        margin-bottom: 18px;
    }
    
    .header {
        font-family: v.$body-font;
        font-size: v.$l-header;
        color: v.$white;
    }
    
    .sub-head {
        font-family: v.$body-font;
        font-size: v.$l-subhead;
        color: v.$white;
    }
    
    .body-text {
        font-family: v.$body-font;
        font-size: v.$l-body;
        color: v.$white;
        line-height: 20px;
    }

    .caption {
        font-family: v.$body-font;
        font-size: v.$l-caption;
        color: v.$white;
        line-height: 14px;
    }
}