@use "../abstracts/variables" as v;

body {
    background-color: v.$yellow;
    background-image:
    radial-gradient(circle at 20% 30%, #caa50e 10%, transparent 11%),
    radial-gradient(circle at 70% 20%, #caa50e 8%, transparent 9%),
    radial-gradient(circle at 60% 80%, #caa50e 12%, transparent 13%),
    radial-gradient(circle at 90% 60%, #caa50e 6%, transparent 7%),
    radial-gradient(circle at 15% 65%, #caa50e 9%, transparent 10%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


// Mobile Style
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        margin-top: 32px;
        width: 200px;
    }
}

#houses {
    background-color: v.$brown;
    padding: 2rem;
    margin: 3rem 0;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3.5rem;
        margin: 2rem 0;
        padding: 1rem;

        li {
            list-style: none;

            a {
                text-decoration: none;
            }
        }
    }
}

#ownerInfoCont {
    margin: 0;
    padding-bottom: 30rem;

    #owner-info {
        position: relative;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            position: absolute;
            top: 8rem;
            box-sizing: border-box;
            width: 400px;
            border: 6px solid #291100;
            border-radius: 20px 25px 15px 30px;
            box-shadow:
            inset 4px 4px 0 #edac81,
            inset -4px -4px 0 #5a2603,
            4px 4px 10px rgba(0, 0, 0, 0.2);
            transform: rotate(2deg);
        }

        div {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: .25rem;

            span {
                margin-right: .5rem;
            }
        }
    }
    
}

// Tablet Size
@media screen and (min-width: 768px) {
    #houses {
        background-color: v.$brown;
        padding: 6rem;
        margin: 3rem 0;
    }

    #ownerInfoCont {
        padding-bottom: 40rem;

        #owner-info {
    
            img {
                position: absolute;
                top: 8rem;
                box-sizing: border-box;
                width: 600px;
                border: 6px solid #291100;
                border-radius: 20px 25px 15px 30px;
                box-shadow:
                inset 4px 4px 0 #edac81,
                inset -4px -4px 0 #5a2603,
                4px 4px 10px rgba(0, 0, 0, 0.2);
                transform: rotate(2deg);
            }
        }
    }
}

// Desktop Size
@media screen and (min-width: 1200px) {
    #houses {
        background-color: v.$brown;
        padding: 6rem 12rem;
        margin: 3rem 0;
    }

    #ownerInfoCont {
        padding-bottom: 50rem;

        #owner-info {
    
            img {
                position: absolute;
                top: 8rem;
                box-sizing: border-box;
                width: 600px;
                border: 6px solid #291100;
                border-radius: 20px 25px 15px 30px;
                box-shadow:
                inset 4px 4px 0 #edac81,
                inset -4px -4px 0 #5a2603,
                4px 4px 10px rgba(0, 0, 0, 0.2);
                transform: rotate(2deg);
            }
        }
    }
}